@charset "UTF-8";

.q3_box {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  position: relative;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.q3_box:after {
  display: block;
  content: "";
  clear: both;
}

.q3_all_box {
  height: 100px;
  width: 100px;
  position: absolute;
  font-weight:bold;
}

.box8 {
  background-color: #de70cf;
  top:120px;
  left:120px;
  z-index: 80;
}

.box8:after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color:  #ffefd3;
}

.box1 {
  background-color: #ffefd3;
  top:40px;
  left:200px;
  z-index: 10;
}

.box7 {
  background-color:#deae70;
  top: 200px;
  left:40px;
  z-index:70;
}

.box6 {
  background-color:#fffee4;
  bottom: 120px;
  left: 120px;
  z-index: 60;
}

.box5 {
  background-color:#9fd6d2;
  bottom:40px;
  left: 200px;
  z-index: 50;

}

.box4 {
  background-color:#8b7a5e;
  bottom:120px;
  right: 120px;
  z-index: 40;
}

.box3 {
  background-color :#d0ecea;
  top: 200px;
  right:40px;
  z-index: 30;
}

.box2 {
  background-color: #7084de;
  top:120px;
  right:120px;
  z-index: 20;
}

.q3_fix {
  position: fixed;
  bottom: 50px;
  right: 50px;
}



/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */