@charset "UTF-8";

.car_parent {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.hover_zoom {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-right: 25px;
  overflow: hidden;
}

.hover_zoom img {
  width: 300px;
  height: 200px;
  transition-duration: 0.3s;
}

.hover_zoom img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
 

.hover_word {
  width: 300px;
  height:200px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
}
  

.hover_word img {
  position: relative;
  width: 100%;
  height: 200px;
}
  
.hover_word img:hover {
  
  opacity: 1;
  padding-bottom: 20px;
}


.hover_text {
  margin-left: 30px;
  width: 300px;
  height: 200px;
  /* position: absolute; */
  transform: translate(-50%, -50%);
  opacity: 0;
  padding-bottom: 0;
}







.scroll_text_parent {
  display: block;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-color:white;
  padding-top: 60px;
}

.scroll_text_child {
  display: inline-block;
  color:black;
  font-size:200px;
  padding-left: 100%;
  white-space: nowrap;
  animation: animate-banner 10s linear infinite;
}

@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}








/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */