@charset "UTF-8";
.q7_parent {
  display: flex;
  justify-content: center;
}

.q7_border {
  position: relative;
  width: 500px;
  border: solid 5px #222;
  border-radius: 30px;
  margin-left: 35px;
  padding: 20px;
  word-break: break-all;
}

.q7_border::before,
.q7_border::after {
  position: absolute;
  content: "";
}

.q7_border::after {
  bottom: 25px;
  left: -38px;
  border: 20px solid transparent;
  border-right: 20px solid #FFF;
}
  
.q7_border::before {
  bottom: 25px;
  left:-45px;
  border: 20px solid transparent;
  border-right: 20px solid #222;
}
 
.q7_pic {
  margin-top: 105px;
}

.q7_p {
  font-size: 16px;
  width: 100%;
}
  

  