@charset "UTF-8";

.q5inner_float::after{
  display: block;
  content: "";
  clear: both;
}

.q5_float {
  float:left;
  width: 400px;
  margin-left: 60px;
}

.q5_float:first-child{
  margin-left: 0;
}

.q5_table {
  display: table;
  border-collapse: separate;
  border-spacing: 60px;
  width: 100%;
}

.q5_table::after {
  display: block;
  content: "";
  clear: both;
}

.q5_table_cell {
  display: table-cell;
  /* padding: 10px; */
  background-color: white;
  width: 400px;
}

.q5_table_p {
  font-size: 12px;
  line-height: 24px;
  box-sizing: border-box;
}

.q5_inline {
  display: inline-block;
}
  









/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */