@charset "UTF-8";
/* floatによる横並び */
.q5inner_float::after{
  display: block;
  content: "";
  clear: both;
}

.q5_float {
  float:left;
  width: 400px;
  margin-left: 60px;
}

.q5_float:first-child{
  margin-left: 0;
}

/* テーブルによる横並び */

.q5_table {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 30px;
}
  
.q5_table_cell {
  display: table-cell;
  background-color: white;
  padding:20px;
}
  
.q5_table_p {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
}

  /* インラインによる横並び */
.q5_inline_parent {
  width: 100%;
  font-size: 0;
}

.q5_inline {
  display: inline-block;
  width: 400px;
  box-sizing: border-box;
}
  
.q5_inline:first-child {
  margin-left: 0;
}

.q5_inline:nth-child(2) {
  margin-left: 60px;
}

/* フレックスによる横並び */
.q5_flex_parent {
  display: flex;
}

.q5_flex_p {
  display: inline-block;
  margin-left: 60px;
}

.q5_flex_p:first-child {
  margin-left: 0;
}

/* Calcによる横並び */
.q5_calc_parent {
  width: 100%;
  font-size: 0;
  /* box-sizing: border-box; */
}

.q5_calc_p {
  display: inline-block;
  width: calc((100% - 30px) / 3);
  margin-left: 10px;
}
  
.q5_calc_p:first-child {
  margin-left: 0;
}
  


  









/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */